body {
	background: #111;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

#container {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	text-align: center;
	justify-content: center;
}

#can {
	background: #000;
}

.slider-container {
	margin: 50px;
	display: inline-block;
}

input[type="number"] {
	margin: 5px;
	width: 50px;
}

